/* --------------------- #QUESTIONS --------------------- */
.Questions {
    position: relative;
}
.Questions-bg {
    background: url(../../../img/bg-quetions.png) no-repeat;
    background-position: 50% 30%;
    background-size: 90%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

/* ------------------------ IMTES ----------------------- */

.Questions-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Questions-item {
    padding: 1.7rem 1rem 1rem 1rem;
    box-shadow: var(--box-shadow-1);
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: var(--color-white);
    transition: var(--transition);
}
.Questions-item.active {
    background-color: #f9f3fa;
}

.Questions-item.active .Questions-item-body {
    height: 100px;
}
.Questions-item-header {
    cursor: pointer;
}

.Questions-item-header-icon {
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    transition: 200ms;
}
.Questions-item.active .Questions-item-header-icon {
    background: var(--color-primary);
}

.Questions-item-body {
    height: 0;
    transition: var(--transition);
    overflow: hidden;
}

.Questions-item-title {
    font-weight: 600;
    font-style: italic;
    font-size: 1.2rem;
    color: var(--color-primary);
    width: 90%;
}
.Questions-item-text {
    font-weight: 400;
    font-size: 1rem;
    color: #667085;
    font-family: "Ubuntu";
}

/* ----------------------- SUPPOR ----------------------- */

.CustomerSupport {
    background-color: #f1f1f1;
}
.CustomerSupport-list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.CustomerSupport-list-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}
.CustomerSupport-list-img:nth-child(1) {
    background-color: #c7b9da;
}
.CustomerSupport-list-img:nth-child(2) {
    background-color: #abb677;
    margin-right: -10px;
    margin-left: -10px;
    position: relative;
    transform: scale(1.2);
}
.CustomerSupport-list-img:nth-child(3) {
    background-color: #d9b9bb;
}

.CustomerSupport-list-img img {
    width: 100%;
    height: 100%;
}
.CustomerSupport-h {
    font-size: clamp(1.5rem, 1rem + 3vw, 1.8rem);
    text-align: center;
    font-style: italic;
    color: var(--color-primary);
    font-weight: 600;
}
.CustomerSupport-p {
    font-size: 1rem;
    text-align: center;
    color: #667085;
    font-family: "Ubuntu";
}

@media screen and (max-width: 572px) {
    .Questions-item.active .Questions-item-body {
        height: 145px;
    }
}
