.Hero-Questions {
    position: relative;
    height: clamp(520px, 100vh, 620px);
    display: flex;
    align-items: center;
    position: relative;
    color: white;
}
.Hero-Questions-text {
    font-size: clamp(1rem, 0.5rem + 1vw, 1.1rem);
    font-family: "Ubuntu";
}

.Hero-Questions .SubTitle-text {
    left: 0;
    text-shadow: -5px 4px 0px #300537;
}
.Hero-Questions::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 110%;
    height: 100%;
    background: url(../../../img/adorno.png) #300537 36.04%;
    background-position: 62% 45%;
    background-size: 85%;
    transform: skew(-25deg) translateX(-50%);
    z-index: -1;
    border-radius: 30px;
}

.Hero-Questions-img {
    width: 400px;
    transform: skew(-25deg);
    height: 388px;
    border-radius: 15px;
    overflow: hidden;
}

.Hero-Questions-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: skew(25deg) scale(1.5);
}
/* --------------------- #QUESTIONS --------------------- */
.Questions {
    position: relative;
}
.Questions-bg {
    background: url(../../../img/bg-quetions.png) top no-repeat;
    background-size: 90%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.Questions-title {
    font-style: normal;
    font-weight: 700;
    font-size: 1.9969rem;
    text-align: center;
    color: var(--color-primary);
}
.Questions-title-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1094rem;
    text-align: center;
    font-family: "Ubuntu";
}
/* ------------------------ IMTES ----------------------- */

.Questions-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Questions-item {
    padding: 1.7rem 1rem 1rem 1rem;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: var(--color-white);
    transition: var(--transition);
}
.Questions-item.active {
    background-color: #f9f3fa;
}

.Questions-item.active .Questions-item-body {
    height: 60px;
}
.Questions-item-header {
    cursor: pointer;
}

.Questions-item-header-icon {
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    transition: 200ms;
}
.Questions-item.active .Questions-item-header-icon {
    background: var(--color-primary);
}

.Questions-item-body {
    height: 0;
    transition: var(--transition);
    overflow: hidden;
}

.Questions-item-title {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-primary);
    width: 90%;
}
.Questions-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.7rem, 0.3rem + 0.5vw, 0.8875rem);
    color: #667085;
    font-family: "Ubuntu";
}

@media screen and (max-width: 772px) {
    .Hero-Questions::after {
        left: 0%;
        width: 100%;
        transform: skew(0deg) translateX(0%);
        border-radius: 0px;
    }
}

/* ----------------------- SUPPOR ----------------------- */

.CustomerSupport {
    background-color: #f1f1f1;
}
.CustomerSupport-list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.CustomerSupport-list-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}
.CustomerSupport-list-img:nth-child(1) {
    background-color: #c7b9da;
}
.CustomerSupport-list-img:nth-child(2) {
    background-color: #abb677;
    margin-right: -10px;
    margin-left: -10px;
    position: relative;
    transform: scale(1.2);
}
.CustomerSupport-list-img:nth-child(3) {
    background-color: #d9b9bb;
}

.CustomerSupport-list-img img {
    width: 100%;
    height: 100%;
}
.CustomerSupport-h {
    text-align: center;
    color: var(--color-primary);
    font-weight: 700;
}
.CustomerSupport-p {
    text-align: center;
    color: #667085;
    font-family: "Ubuntu";
}

@media screen and (max-width: 572px) {
    .Questions-item.active .Questions-item-body {
        height: 100px;
    }
}
