/* ------------------------- ABOUT ------------------------ */

.Section-description-about-img {
    width: 350px;
    transform: skew(-25deg);
    height: 330px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: -28px 28px 0px var(--color-primary-black);
}
.Section-description-about-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: skew(25deg) scale(1.5);
}

.Section-description-about-p {
    font-size: 1rem;
    font-family: "Ubuntu";
    color: #667085;
}

@media screen and (max-width: 776px) {
    .Section-description-about-img {
        width: 100%;
        transform: skew(0deg);
        box-shadow: -6px 6px 0px var(--color-primary-black);
    }
    .Section-description-about-img img {
        transform: skew(0);
        object-fit: cover;
        object-position: center;
    }
}

/* ----------------------- MISION ----------------------- */
.section-mision {
    background: #971f5f17;
}

.Mision-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
}
.wrapper-mision-item {
    transform: skew(-15deg);
    background: var(--color-white);
    border: 1px solid #e4e4e4;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 50px;
}
.Mision-item {
    padding: 1.5rem 2.5rem;
    transform: skewX(15deg);
}
.Mision-item-icon {
    color: var(--color-primary);
    font-size: 4rem;
}
.Mision-item-h {
    color: var(--color-primary);
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: clamp(1.3rem, 0.5rem + 1vw, 2rem);
}
.Mision-item-p {
    color: var(--color-primary);
    font-family: "Ubuntu";
    font-style: italic;
    font-size: var(--font-text);
    margin-left: -2rem;
}

.MisionCard-shadow {
    width: 280.24px;
    height: 360px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transform: skew(-10deg);
    background: #300537;
}
.MisionCard-img {
    width: inherit;
    height: 360px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    left: 10px;
    top: -10px;
}
.MisionCard-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms;
    transform: skew(10deg) scale(1.2);
}

@media screen and (max-width: 776px) {
    .wrapper-mision-item {
        width: 90%;
        margin: 0 auto;
    }
    .MisionCard-shadow {
        width: 100%;
        height: 360px;
        transform: skew(0deg);
    }
    .MisionCard-img img {
        transform: skew(0deg) scale(1.2);
    }
}
/* --------------------- INFO ABOUT --------------------- */

.infoAbout {
    background-color: #f1f1f1;
}

.itemInfoAbout {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.itemInfoAbout-icon {
    font-size: 2rem;
}
.itemInfoAbout-content-h {
    font-size: 1rem;
    color: var(--color-primary);
    font-weight: 600;
    margin: 0;
}
.itemInfoAbout-content-p {
    font-size: 0.9rem;
    color: #667085;
    font-family: "Ubuntu";
}
