* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video,
picture,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
main {
    overflow-x: hidden;
}

input,
button,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    outline-width: 0;
    outline-color: transparent;
    box-shadow: none;
    outline-style: none;
    background: transparent;
    border: none;
    color: inherit;
}
