.Seller {
    background: url(../../../img/adorno.png) center no-repeat;
    background-size: cover;
}
/* cards  */
.CardSellers {
    width: 280px;
    height: 366px;
    background: #fffdfd;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: skew(-10deg);
    margin: 0 auto;
    transition: var(--transition);
}
.CardSellers:hover {
    transform: skew(-10deg) translateY(-3px);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.CardSellers-content {
    position: relative;
    transform: skew(10deg);
}

.CardSellers-img {
    width: 202px;
    height: 195px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(151, 31, 95, 0.61);
    position: relative;
}
.CardSellers-icon {
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 1.7rem;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #300537 0%, #971f5f 87.96%);
    border-radius: 50%;
    width: 56px;
    height: 55px;
    transition: var(--transition);
    cursor: pointer;
}
@keyframes animationCart {
    0% {
        transform: rotateZ(0deg);
    }
    33.3% {
        transform: rotateZ(15deg);
    }
    66.6% {
        transform: rotateZ(-14deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
.CardSellers:hover .CardSellers-icon {
    animation: animationCart 600ms 1 ease-in-out;
}

.CardSellers-icon:hover {
    transform: scale(1.1);
}
.CardSellers-icon:active {
    transform: scale(1.02);
}

.CardSellers-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.CardSellers-price {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 34px;
    color: var(--color-primary);
    text-align: center;
}
.CardSellers-title {
    width: 279.5px;
    height: 45px;

    border-radius: 10px;
    background: linear-gradient(90deg, #300537 21.3%, #971f5f 70.95%),
        linear-gradient(90deg, #300537 10.88%, #971f5f 37.66%, #970050 69.26%);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(10deg);
    margin-right: -5rem;
}
.CardSellers-title-h {
    font-style: italic;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0;
}

/* .owl-carousel */

.owl-carousel .owl-stage-outer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
