.About {
    position: relative;
}
.About::after {
    content: "";
    position: absolute;
    top: 0;
    left: -25%;
    width: 100%;
    height: 100%;
    background: linear-gradient(82.98deg, #681240 40.89%, #971f5f 77.42%);
    transform: skew(-25deg);
    z-index: -1;
    border-radius: 30px;
}
.About-p {
    font-style: italic;
    font-weight: 800;
    font-size: clamp(0.875rem, 0.5rem + 1vw, 1rem);
    color: var(--color-white);
}
.About-p::first-letter {
    font-size: 1.5rem;
}
/* imagen  */

.container-about-img {
    width: 570px;
    border-radius: 30px;
    transform: skew(-20deg);
    overflow: hidden;
    margin-top: -200px;
    height: 718px;
    position: absolute;
}

.container-about-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: skew(20deg) scale(1.6);
}

/* --------------------- BENEFICIOS --------------------- */

.Beneficios {
    position: relative;
    max-width: 826px;
    flex-wrap: wrap;
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.Beneficios::after {
    content: "";
    position: absolute;
    background-color: white;
    transform: skew(-25deg);
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Beneficios-item {
    position: relative;
    z-index: 1;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Beneficios-item-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(180deg, #681240 0%, #971f5f 100%);
    transition: all 600ms;
}
.Beneficios-item-img:hover {
    transform: rotateY(-180deg);
}

.Beneficios-item-text {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 23px;
    color: #300537;
}

@media screen and (max-width: 992px) {
    .About::after {
        left: 0%;
        transform: skew(0deg);
    }
    .container-about-img {
        width: 90%;
        max-height: 450px;
        margin-top: 0px;
        transform: skew(0deg);
        position: relative;
        margin: 0 auto;
    }
    .container-about-img img {
        transform: skew(0deg);
        object-fit: cover;
    }
    .Beneficios {
        justify-content: start;
    }
    .Beneficios::after {
        transform: skew(0deg);
        left: 0;
    }
}

@media screen and (max-width: 572px) {
    .Beneficios {
        justify-content: center;
    }
}
