.Shop {
    background: url(../../../img/adorno.png) center no-repeat;
    background-size: cover;
}
.wrapper-CardShop {
    margin-top: -50px;
    margin-bottom: 80px;
}

/* cards  */
.CardShop-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 250px;
    gap: 2rem;
}
.CardShop:nth-child(1) {
    margin-top: -90px;
}
.CardShop:nth-child(2) {
    margin-top: -180px;
}
.CardShop:nth-child(3) {
    margin-top: -260px;
}

.CardShop-shadow {
    width: clamp(250px, 220px + 2vw, 280.24px);
    height: 360px;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transform: skew(-10deg);
    background: #300537;
}
.CardShop-img {
    width: clamp(250px, 220px + 2vw, 280.24px);
    height: 360px;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    left: 10px;
    top: -10px;
}

.CardShop-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms;
    transform: skew(10deg) scale(1.2);
}
.CardShop-img img:hover {
    transform: scale(1.4) skew(10deg);
}

.CardShop-title {
    width: 260.5px;
    height: 45px;
    border-radius: 10px;
    background: linear-gradient(90deg, #300537 21.3%, #971f5f 70.95%),
        linear-gradient(90deg, #300537 10.88%, #971f5f 37.66%, #970050 69.26%);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1.8rem;
}
.CardShop-title-h {
    font-style: italic;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0;
}
.u-Button-Shop {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 992px) {
    .CardShop-container {
        margin-top: 40px;
    }
    .CardShop:nth-child(1),
    .CardShop:nth-child(2),
    .CardShop:nth-child(3) {
        margin-top: 0;
    }
    .u-Button-Shop {
        position: relative;
    }
    .wrapper-CardShop {
        margin: 0;
    }
}

@media screen and (max-width: 572px) {
    .CardShop-title {
        margin: 0 auto;
    }
}
