.Testimonials {
    background-color: #971f5f17;
    position: relative;
}
/* bg  */
.Testimonials-right-bg {
    position: absolute;
    width: 520px;
    height: 110%;
    left: 60%;
    border-radius: 30px 0px 0px 0px;
    top: -10%;
    transform: skew(-20deg);
    background: linear-gradient(180deg, #300537 16.04%, #971f5f 116.04%);
}
.Testimonials-right-bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 105%;
    border-radius: 30px 0px 0px 0px;

    background: linear-gradient(180deg, #300537 16.04%, #971f5f 116.04%);
}

@media screen and (max-width: 772px) {
    .Testimonials-right-bg {
        width: 100%;
        height: 52%;
        left: 0;
        border-radius: 0px;
        transform: skew(0);
        bottom: 0;
        top: auto;
    }
}
/* text  */
.Testimonials-p {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.54);
}

.Testimonials-p::first-letter {
    font-size: 25px;
}
/* cards  */

.CardTestimonial {
    width: 280px;
    height: 366px;
    background: #fffdfd;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: skew(-10deg);
    margin: 0 auto;
    transition: var(--transition);
}

.CardTestimonial-content {
    position: relative;
    transform: skew(10deg);
}

.CardTestimonial-img {
    width: 202px;
    height: 195px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(151, 31, 95, 0.61);
    position: relative;
}
.CardTestimonial-icon {
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 1.7rem;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #300537 0%, #971f5f 87.96%);
    border-radius: 50%;
    width: 56px;
    height: 55px;
}

.CardTestimonial-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.CardTestimonial-price {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: var(--color-primary);
    text-align: center;
}
.CardTestimonial-title {
    width: 279.5px;
    height: 45px;

    border-radius: 10px;
    background: linear-gradient(90deg, #300537 21.3%, #971f5f 70.95%),
        linear-gradient(90deg, #300537 10.88%, #971f5f 37.66%, #970050 69.26%);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(10deg);
    margin-right: -5rem;
}
.CardTestimonial-title-h {
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    margin: 0;
}

/* -------------------- .OWL-CAROUSEL ------------------- */
.owl-nav {
    color: white;
    font-size: 2rem;
    transform: skew(-20deg);
}

.owl-nav button:hover {
    background: transparent !important;
    transform: skew(20deg) scale(1.1);
}
