.Testimonials {
    background-color: #971f5f17;
    position: relative;
}
/* bg  */
.Testimonials-right-bg {
    position: absolute;
    width: 520px;
    height: 110%;
    left: 60%;
    border-radius: 30px 0px 0px 0px;
    top: -10%;
    transform: skew(-20deg);
    background: linear-gradient(180deg, #300537 16.04%, #971f5f 116.04%);
}
.Testimonials-right-bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 105%;
    border-radius: 30px 0px 0px 0px;

    background: linear-gradient(180deg, #300537 16.04%, #971f5f 116.04%);
}

.Testimonials-right-bg--about {
    top: 0;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .Testimonials-right-bg {
        width: 100%;
        height: 52%;
        left: 0;
        border-radius: 0px;
        transform: skew(0);
        bottom: 0;
        top: auto;
    }
    .Testimonials-conatainer-carrusel {
        margin-top: 0px;
    }
}
/* text  */
.Testimonials-p {
    font-family: "Ubuntu";
    font-style: italic;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.54);
}

.Testimonials-p::first-letter {
    font-size: 1.5rem;
}
/* cards  */

.CardTestimonial {
    width: 330px;
    padding: 1.5rem;
    background: #fffdfd;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: skew(-10deg);
    margin: 0 auto;
    transition: var(--transition);
}
.item-testimonial--video {
    gap: 1rem;
}
.item-testimonial--video .CardTestimonial-content {
    grid-template-columns: 100%;
}
.item-testimonial--video .CardTestimonial-poster {
    width: 120px;
    height: 120px;
}

.CardTestimonial-content {
    display: grid;
    gap: 1rem;
    position: relative;
    align-items: center;
    grid-template-columns: 80px 1fr;
}

.CardTestimonial-poster {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(151, 31, 95, 0.61);
    position: relative;
}
.CardTestimonial-poster i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.5rem;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    z-index: 2;
    transition: all 300ms;
    pointer-events: none;
}

.CardTestimonial-poster:hover i {
    transform: translate(-50%, -50%) scale(1.2);
}
.CardTestimonial-icon {
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 1.7rem;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #300537 0%, #971f5f 87.96%);
    border-radius: 50%;
    width: 56px;
    height: 55px;
}

.CardTestimonial-poster img,
.CardTestimonial-poster video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.CardTestimonial-content-p {
    text-align: center;
    overflow: hidden;
    font-family: "Ubuntu";
    color: #596172;
    font-size: 0.9rem;
}

.CardTestimonial-title {
    padding: 0.7rem;
    border-radius: 10px;
    background: linear-gradient(90deg, #300537 21.3%, #971f5f 70.95%),
        linear-gradient(90deg, #300537 10.88%, #971f5f 37.66%, #970050 69.26%);
    color: var(--color-white);
    transform: skew(-15deg);
}
.CardTestimonial-title-h {
    font-style: italic;
    font-weight: 700;
    font-size: 1.3rem;
    transform: skew(15deg);
    margin: 0;
}

@media screen and (max-width: 576px) {
    .CardTestimonial {
        width: 85%;
    }
    .CardTestimonial-title-h {
        font-size: 1.2rem;
    }
}

/* -------------------- .OWL-CAROUSEL ------------------- */
.CarouselTes .owl-nav {
    color: white;
    font-size: 2rem;
}

.CarouselTes .owl-nav button:hover {
    background: transparent !important;
    transform: scale(1.1);
}

.CarouselTes .owl-stage-outer {
    width: 120%;
}
.CarouselTes .owl-stage-outer .item {
    padding: 0px 1rem;
}
