.Sub {
    background: url(../../../img/bg-Sub.png) center no-repeat;
    background-size: cover;
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
}

.Sub-inputs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.inputEmailSub {
    background: #efefef;
    box-shadow: -4px 3px 0px rgba(48, 5, 55, 0.5);
    transform: skew(-20deg);
    border-radius: 15px;
    max-width: 461.17px;
    width: 100%;
    height: 52px;
    display: inline-block;
    padding: 1rem;
}
.inputEmailSub:focus {
    background: #efefef;
    box-shadow: -4px 3px 0px rgba(48, 5, 55, 0.5);
}
