.Shoping-gallery {
    position: relative;
    background: url(../../../img/adorno.png) center no-repeat;
    background-size: cover;
}
.Shoping-gallery-container {
    display: flex;
    gap: 3.2rem;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 700px;
}

.buttons-gallery {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.filter-button {
    box-shadow: -4px 3px 0px rgba(48, 5, 55, 0.5);
    border-radius: 15px;
    transform: skew(-20deg);
    transition: var(--transition);
    text-align: center;
    padding: 10px 30px;
    font-style: italic;
    font-weight: 800;
    text-shadow: 2px 2px 0px #000000;
    color: var(--color-white);
    background: var(--color-secondary);
    transition: all 300ms;
}
.filter-button:hover,
.filter-button:active,
.filter-button.active,
.filter-button:focus {
    color: var(--color-white);
    background: var(--color-secondary);
    transform: skew(-18deg) translateY(3px);
    box-shadow: -4px 3px 0px rgba(48, 5, 55, 0);
}

.item-shop {
    display: inline-block;
}

@media screen and (max-width: 576px) {
    .buttons-gallery {
        gap: 1rem;
    }
    .filter-button {
        width: 90%;
    }
}
