.Button {
    box-shadow: -4px 3px 0px rgba(48, 5, 55, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(-20deg);
    transition: var(--transition);
    text-align: center;
}
.Button:hover {
    transform: skew(-18deg) translateY(3px);
    box-shadow: -4px 3px 0px rgba(48, 5, 55, 0);
}

.Button a,
.Button button,
.Button input {
    font-style: italic;
    font-weight: 800;
    text-shadow: 2px 2px 0px #000000;
    transform: skew(20deg);
}

/* btn-style */
.Button--style-1 {
    background: var(--color-secondary);
    color: var(--color-white);
}
.Button--style-2 {
    background: var(--color-white);
    color: var(--color-primary);
}
.Button--style-3 {
    background: #971f5f;

    color: white;
}

/* btn-size */

.Button--medium {
    width: 245px;
    height: 52px;
}
.Button--medium a,
.Button--medium button,
.Button--medium input {
    font-size: 25px;
    line-height: 38px;
    text-shadow: none;
    width: 100%;
}

/* grande   */
.Button--tall {
    width: clamp(270px, 250px + 1vw, 285px);
    height: 63px;
}
.Button--tall a,
.Button--tall button,
.Button--tall input {
    font-size: clamp(1.7rem, 1.2rem + 1vw, 1.875rem);
    line-height: 45px;
    width: 100%;
}
