.FirsSection {
    height: clamp(320px, 30vh, 520px);
    background-size: cover;
    position: relative;
}
.video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.video-bg video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.video-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.164);
    z-index: 1;
}

.FirsSection-rectBg {
    position: absolute;
    width: 500px;
    height: 100%;
    right: 1%;
    transform: skew(-25deg);
    top: 0px;
    background: linear-gradient(180deg, rgba(48, 5, 55, 0.9) 0%, rgba(151, 31, 95, 0.9) 100%);
    border-radius: 30px;
}

.FirsSection-rectBg::after {
    content: "";
    position: absolute;
    width: 520px;
    height: 100%;
    right: -50%;
    top: 0px;
    background: linear-gradient(180deg, rgba(48, 5, 55, 0.8) 0%, rgba(151, 31, 95, 0.8) 100%);
    border-radius: 30px;
}

.FirsSection-title {
    font-style: italic;
    font-weight: 800;
    font-size: clamp(30px, 1.2rem + 4vw, 70px);
    line-height: clamp(30px, 1.2rem + 4vw, 110px);
    color: #ffffff;
    text-shadow: -5px 4px 0px #300537;
}
