.Footer {
    width: 100%;
    background: linear-gradient(89.71deg, #300537 23.22%, #971f5f 92.95%);
    color: white;
}

.footerCopy {
    background-color: #300537;
    color: white;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px, 0.5rem + 1vw, 14px);
    width: 100%;
    padding: 1rem;
}
.footerCopy .container {
    max-width: 919px;
    margin: 0 auto;
}

.Footer-subTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 2.2rem;
}

.Footer-list li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.5rem + 1vw, 1.0625rem);
}
.Footer-list .Footer-list-icons {
    display: grid;
    grid-template-columns: 35px 85%;
}

.Footer-list i {
    font-size: 1.5rem;
    margin: 0 auto;
}
.Footer-list a {
    transition: var(--transition);
}

.Footer-list a:hover {
    transform: translateX(3px);
}
.Footer-list-circle {
    margin-left: 21px;
}

.Footer-list-circle::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ff289b9c;
}

@media screen and (max-width: 572px) {
    .Footer-subTitle {
        text-align: center;
    }
    .Footer-list li {
        margin: 1rem auto;
        display: block;
        width: fit-content;
    }
    .Footer-list .Footer-list-icons {
        max-width: 205px;
    }
}
