.Header {
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: var(--transition);
}

/* navbar  */

.Navbar-logo img {
    transition: var(--transition);
}

.Navbar {
    display: grid;
    grid-template-columns: 20% 73% 7%;
    align-items: center;
    transition: 300ms;
    color: var(--color-white);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.Nav {
    display: flex;
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-primary);
    gap: 1.7rem;
}
.close {
    margin-left: auto;
    color: var(--color-primary);
    opacity: 1;
}
.close:hover {
    color: var(--color-primary-black);
}
.Nav-link {
    transition: var(--transition);
}

.Nav-link:hover {
    transform: translateY(-3px);
    text-shadow: 0px 2px 0px #300537, 0px 1px 0px #300537;
}
.Nav-link.active {
    transform: translateY(-3px);
    text-shadow: 0px 2px 0px #300537, 0px 1px 0px #300537;
}

/* nav right  */

.Navbar-right {
    display: flex;
    gap: 1.5rem;
}
.Navbar-utils,
.Navbar-redes {
    display: inherit;
    gap: inherit;
}

.Navbar-utils a,
.Navbar-utils i,
.Navbar-redes a,
.Navbar-redes i {
    transition: all 300ms ease-out;
}

.Navbar-utils a:hover,
.Navbar-utils i:hover,
.Navbar-redes a:hover,
.Navbar-redes i:hover {
    transform: scale(1.1);
}

.separador {
    width: 2px;
    background: #ffffffb2;
}
/* cart  */

.Cart {
    position: relative;
}
.Cart-list::-webkit-scrollbar {
    width: 2px;
}

.Cart-list {
    position: absolute;
    top: 120%;
    right: 0;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    width: 250px;
    max-height: 265px;
    overflow-y: scroll;
    transition: var(--transition);
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.Cart-icon {
    height: 100%;
    width: 100%;
}

.Cart:hover .Cart-list {
    opacity: 1;
    pointer-events: all;
}
.Cart-list:hover {
    opacity: 1;
    pointer-events: all;
}

.Cart-list-item {
    display: grid;
    color: var(--color-primary);
    gap: 1rem;
    width: 100%;
    max-height: 76px;
    grid-template-columns: 30% 70%;
}
.Cart-list-item-img {
    width: 100%;
    border-radius: 10px;
}
.Cart-list-item-title {
    font-size: 1rem;
}
.Cart-list-item-description {
    font-size: 0.7rem;
}

/* search  */
.search {
    position: relative;
}

/* active  */
.Header.active {
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.Header.active .Navbar {
    color: var(--color-primary);
}
.Header.active .Navbar-logo img {
    width: 75px;
    transition: var(--transition);
}

.Header.active .Navbar-utils a,
.Header.active .Navbar-utils i,
.Header.active .Navbar-redes i,
.Header.active .Navbar-redes a {
    color: var(--color-primary);
}
.Header.active .separador {
    background: var(--color-primary);
}

@media screen and (max-width: 992px) {
    .Header.active .Navbar-logo img {
        width: 70px;
        transition: var(--transition);
    }
    .Navbar-logo img {
        width: 80px;
        transition: var(--transition);
    }
    .wrapper-nav {
        height: 100vh;
        flex-direction: column;
        width: 320px;
        z-index: 3;
        right: -150%;
        transition: all 600ms;
        top: 0;
        background: white;
        position: fixed;
        padding: 2rem;
    }
    .wrapper-nav.active {
        right: 0;
    }

    .Nav-link:hover {
        transform: translateY(-3px);
    }
    .Nav {
        flex-direction: column;
        width: 100%;
        text-align: end;
    }
    .Navbar-right {
        justify-content: space-around;
        color: var(--color-primary);
    }
    .Navbar-utils {
        color: var(--color-white);
    }
}
@media screen and (max-width: 560px) {
    .Header.active .Navbar-logo img {
        width: 55px;
        transition: var(--transition);
    }
    .Navbar-logo img {
        width: 65px;
        transition: var(--transition);
    }
    .wrapper-nav {
        width: 100%;
    }
}
