.ModalTestmonial {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -150%;
    top: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}

.ModalTestmonial.active {
    left: 0;
}
.ModalTestmonial-content {
    max-width: 600px;
    width: 100%;
    max-height: 600px;
    background: var(--color-white);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1rem 0.5rem;
    margin: 0 auto;
    overflow-y: scroll;
}
.ModalTestmonial-content::-webkit-scrollbar {
    width: 2px;
}
.ModalTestmonial-img img {
    border-radius: 20px;
    max-height: 210px;
    object-fit: contain;
    width: 100%;
}
.Testmonial-video canvas,
.Testmonial-video::after {
    display: none;
}

.Testmonial-video canvas {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}
.Testmonial-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.692);
    z-index: -1;
}
.Testmonial-video video {
    border-radius: 30px;
}

.ModalTestmonial-info {
    font-size: clamp(0.8rem, 0.5rem + 1vw, 1rem);
}
.ModalTestmonial-title {
    font-size: clamp(1.4rem, 0.8rem + 1vw, 1.7rem);
}
.close-video {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
}
@media screen and (max-height: 400px) {
    .Testmonial-video canvas {
        width: 120%;
    }
}

@media screen and (max-width: 772px) {
    .close-video {
        right: 20px;
    }
    .Testmonial-video canvas,
    .Testmonial-video::after {
        display: block;
    }
    .Testmonial-video {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        padding: 0;
        display: flex;
        overflow: hidden;
    }
    .Testmonial-video video {
        border-radius: 0px;
    }
    .ModalTestmonial-img img {
        display: block;
        margin: 0 auto;
        width: auto;
    }
}
