.SubTitle {
    display: flex;
    align-items: center;
    position: relative;
    left: -25px;
    gap: 1.5rem;
}
.SubTitle-line {
    position: relative;
    display: flex;
    gap: 0.2rem;
}
.SubTitle-line-1 {
    background: linear-gradient(90deg, #300537 21.3%, #971f5f 70.95%);
    border-radius: 5px;
    width: clamp(20px, 1rem + 5vw, 120px);
    height: 35.64px;
    transform: skew(-25deg);
    position: relative;
}
.SubTitle-line-2 {
    background: #971f5f;
    border-radius: 5px;
    width: 5px;
    height: 35.64px;
    transform: skew(-25deg);
    position: relative;
}

.SubTitle-text {
    font-style: italic;
    font-weight: 700;
    font-size: var(--font-title);
    margin: 0;
    color: var(--color-primary);
}

.SubTitle--white .SubTitle-line-1 {
    background: var(--color-white);
}
.SubTitle--white .SubTitle-line-2 {
    background: var(--color-white);
}
.SubTitle--white .SubTitle-text {
    color: var(--color-white);
}
