.Contact {
    background: url(../../../img/adorno.png) center no-repeat;
    background-size: cover;
}
.Contact-map {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

/* ------------------------ FORM ------------------------ */
.Contact-form {
    padding: 2rem;
}

.form-title {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    color: var(--color-primary);
}
.form-input {
    font-style: normal;
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    color: #667085;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
}
.form-input:focus {
    color: #667085;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.form-label {
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;

    color: var(--color-primary);
}
